# AirPulse Environmental Secret Variables
# Add your real API keys below.
# When deploying to Vercel, set these variables under Project Settings -> Environment Variables.

# World Air Quality Index (WAQI) API key
WAQI_TOKEN=APIKEY
