# AirPulse Environmental Secret Variables
# Add your real API keys below.
# When deploying to Vercel, set these variables under Project Settings -> Environment Variables.

# World Air Quality Index (WAQI) API key
WAQI_TOKEN=8351afd9c57845fd2ada91885f218c3c84856d50afa1fd8f7a0b4551d17d23f0
